* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  overflow-x: hidden;
}
.content {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #213967;
  position: fixed;
  padding-left: 30rem;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between the logo image and text */
  animation: fadeIn 1s ease-in-out;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 50px;
}

.logo h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.content .list-menu {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500px;
}

.content .list-menu li a {
  padding: 3rem 1rem 2rem 1rem;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500px;
  transition: all 200ms ease-in;
  animation: fadeIn 1.5s ease-in-out;
}

.content .list-menu li a:hover {
  background-color: #1c3f80;
  border-bottom: 4px solid #8db2f6;
  color: #8db2f6;
}
footer {
  background-color: #213967;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
}

footer p {
  margin: 0;
  font-size: 1.5rem;
}

.footer-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #213967;
  padding: 2rem 0 1rem 0;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer-social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer-bibi {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.footer-bibi li a {
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.2s;
}

.footer-bibi li a:hover {
  color: #8db2f6;
}

.footer-info {
  text-align: center;
}

.footer-info a {
  color: #8db2f6;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-info a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-info p {
  color: aliceblue;
  margin: 0.2em 0;
  font-size: 1.5rem;
}
main {
  flex: 1;
  padding-top: 70px; /* Compensa a altura do header fixo */
}
